git+https://github.com/NomadicVampire/BlogPartner.git#subdirectory=libraries/greenlet-2.0.1
git+https://github.com/NomadicVampire/BlogPartner.git#subdirectory=libraries/Flask-2.2.2
git+https://github.com/NomadicVampire/BlogPartner.git#subdirectory=libraries/Flask-SQLAlchemy-2.5.1
git+https://github.com/NomadicVampire/BlogPartner.git#subdirectory=libraries/Jinja2-3.1.2
git+https://github.com/NomadicVampire/BlogPartner.git#subdirectory=libraries/MarkupSafe-2.1.1
git+https://github.com/NomadicVampire/BlogPartner.git#subdirectory=libraries/SQLAlchemy-1.4.46
git+https://github.com/NomadicVampire/BlogPartner.git#subdirectory=libraries/Werkzeug-2.2.2
git+https://github.com/NomadicVampire/BlogPartner.git#subdirectory=libraries/click-8.1.3
git+https://github.com/NomadicVampire/BlogPartner.git#subdirectory=libraries/importlib_metadata-6.0.0
git+https://github.com/NomadicVampire/BlogPartner.git#subdirectory=libraries/itsdangerous-2.1.2
