{% extends 'base.html' %}
{% block body %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('static/assets/img/contact-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Add posts</h1>
                    <span class="subheading">Have something to post? Add Here!</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                <div class="my-5">
                    <form name="addForm" id="addForm" method="POST" action="{{ url_for('addpost') }}">
                        <div class="form-floating">
                            <input class="form-control" id="title" name="title" type="text"
                                placeholder="Enter Blog title..." data-sb-validations="required" />
                            <label for="name">Blog title</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A Title is required.</div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="subtitle" name="subtitle" type="text"
                                placeholder="Enter Subtitle..." data-sb-validations="required,email" />
                            <label for="subtitle">Subtitle</label>

                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="author" type="text" name="author"
                                placeholder="Enter Author's name..." data-sb-validations="required" />
                            <label for="author">Author</label>

                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="content" name="content"
                                placeholder="Enter Blog content here..." style="height: 12rem"
                                data-sb-validations="required"></textarea>
                            <label for="content">Blog Content</label>

                        </div>
                        <br/>
                        <!-- Submit Button-->
                        <button class="btn btn-primary text-uppercase " id="submitButton"
                            type="submit">Add Posts</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock body %}